# Raw Data Overview

Quick look at every raw dataset as DataFrames. Run `uv run python scripts/fetch_raw.py` first.

In [1]:
from pathlib import Path

import geopandas as gpd
import pandas as pd

RAW = Path("../data/raw")

pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", 60)
pd.set_option("display.width", 200)

---
## 1. CSB 311 Complaints

One CSV per year in `raw/csb/`. Each row is a service request.

In [5]:
csv_files = sorted((RAW / "csb").rglob("*.csv"))
print(f"{len(csv_files)} CSV files: {[f.name for f in csv_files]}")

# Use the latest year
latest_csv = csv_files[-1]
print(f"\nLoading latest: {latest_csv.name}")

19 CSV files: ['2008.csv', '2009.csv', '2010.csv', '2011.csv', '2012.csv', '2013.csv', '2014.csv', '2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv', '2020.csv', '2021.csv', '2022.csv', '2023.csv', '2024.csv', '2025.csv', '2026.csv']

Loading latest: 2026.csv

In [6]:
csb = pd.read_csv(latest_csv, encoding="latin-1", low_memory=False)
print(f"{len(csb):,} rows, {len(csb.columns)} columns")
print(f"\nColumns: {list(csb.columns)}")
print(f"\nDtypes:\n{csb.dtypes}")

14,851 rows, 28 columns

Columns: ['CALLERTYPE', 'CITY', 'DATECANCELLED', 'DATEINVTDONE', 'DATETIMECLOSED', 'DATETIMEINIT', 'DESCRIPTION', 'EXPLANATION', 'GRANDPARENT_ID', 'GRANDPARENT_NODE', 'GROUP', 'NEIGHBORHOOD', 'PARENT_ID', 'PARENT_NODE', 'PLAIN_ENGLISH_NAME_FOR_PROBLEMCODE', 'PRJCOMPLETEDATE', 'PROBADDRESS', 'PROBADDTYPE', 'PROBLEMCODE', 'PROBLEMSID', 'PROBZIP', 'PUBLICRESOLUTION', 'REQUESTID', 'SRX', 'SRY', 'STATUS', 'SUBMITTO', 'WARD']

Dtypes:
CALLERTYPE                                str
CITY                                      str
DATECANCELLED                             str
DATEINVTDONE                              str
DATETIMECLOSED                            str
DATETIMEINIT                              str
DESCRIPTION                               str
EXPLANATION                               str
GRANDPARENT_ID                          int64
GRANDPARENT_NODE                          str
GROUP                                     str
NEIGHBORHOOD                          float64
PARENT_ID                               int64
PARENT_NODE                               str
PLAIN_ENGLISH_NAME_FOR_PROBLEMCODE        str
PRJCOMPLETEDATE                           str
PROBADDRESS                               str
PROBADDTYPE                               str
PROBLEMCODE                               str
PROBLEMSID                              int64
PROBZIP                               float64
PUBLICRESOLUTION                          str
REQUESTID                               int64
SRX                                   float64
SRY                                   float64
STATUS                                    str
SUBMITTO                                  str
WARD                                  float64
dtype: object

In [7]:
csb.head(10)

,CALLERTYPE,CITY,DATECANCELLED,DATEINVTDONE,DATETIMECLOSED,DATETIMEINIT,DESCRIPTION,EXPLANATION,GRANDPARENT_ID,GRANDPARENT_NODE,GROUP,NEIGHBORHOOD,PARENT_ID,PARENT_NODE,PLAIN_ENGLISH_NAME_FOR_PROBLEMCODE,PRJCOMPLETEDATE,PROBADDRESS,PROBADDTYPE,PROBLEMCODE,PROBLEMSID,PROBZIP,PUBLICRESOLUTION,REQUESTID,SRX,SRY,STATUS,SUBMITTO,WARD
0,WEB,St. Louis,NaN,2026-01-01 01:28:15.863,2026-01-01 01:28:07.32,2026-01-01 01:28:07.32,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8417 LOWELL ST,B,Public Nuisance Rpt,832,63147.0,NaN,2038648,-1.004419e+07,4.681103e+06,CLOSED,"NST,",13.0
1,WEB,St. Louis,NaN,2026-01-01 01:31:03.477,2026-01-01 01:31:01.91,2026-01-01 01:31:01.91,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8437 LOWELL ST,B,Public Nuisance Rpt,832,63147.0,NaN,2038649,-1.004418e+07,4.681182e+06,CLOSED,"NST,",13.0
2,WEB,St. Louis,NaN,2026-01-01 01:39:49.177,2026-01-01 01:39:47.33,2026-01-01 01:39:47.33,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8564 N BROADWAY,B,Public Nuisance Rpt,832,63147.0,NaN,2038650,-1.004422e+07,4.681506e+06,CLOSED,"NST,",13.0
3,WEB,St. Louis,NaN,2026-01-01 01:41:57.767,2026-01-01 01:41:56.067,2026-01-01 01:41:56.067,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8421 LOWELL ST,B,Public Nuisance Rpt,832,63147.0,NaN,2038651,-1.004419e+07,4.681114e+06,CLOSED,"NST,",13.0
4,WEB,St. Louis,NaN,2026-01-01 01:45:09.447,2026-01-01 01:45:07.94,2026-01-01 01:45:07.94,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8440 N BROADWAY,B,Public Nuisance Rpt,832,63147.0,NaN,2038652,-1.004427e+07,4.681138e+06,CLOSED,"NST,",13.0
5,WEB,St. Louis,NaN,2026-01-01 01:48:50.133,2026-01-01 01:48:48.397,2026-01-01 01:48:48.397,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8108 N BROADWAY,B,Public Nuisance Rpt,832,63147.0,NaN,2038653,-1.004436e+07,4.680325e+06,CLOSED,"NST,",12.0
6,WEB,St. Louis,NaN,2026-01-01 01:52:45.077,2026-01-01 01:52:43.653,2026-01-01 01:52:43.653,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8786 N BROADWAY,B,Public Nuisance Rpt,832,63147.0,NaN,2038654,-1.004414e+07,4.682146e+06,CLOSED,"NST,",13.0
7,WEB,St. Louis,NaN,2026-01-01 01:56:52.217,2026-01-01 01:56:50.76,2026-01-01 01:56:50.76,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8773 N BROADWAY,B,Public Nuisance Rpt,832,63147.0,NaN,2038655,-1.004424e+07,4.682073e+06,CLOSED,"NST,",13.0
8,WEB,St. Louis,NaN,2026-01-01 01:59:43.673,2026-01-01 01:59:42.317,2026-01-01 01:59:42.317,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,8375 N BROADWAY,B,Public Nuisance Rpt,832,63147.0,NaN,2038656,-1.004440e+07,4.680859e+06,CLOSED,"NST,",12.0
9,WEB,St. Louis,NaN,2026-01-01 02:01:58.4,2026-01-01 02:01:56.81,2026-01-01 02:01:56.81,Public Nuisance Rpt,Submit a nuisance complaint for a specific property. Not...,1874,Citizen Requests,Nuisance Complaint,74.0,43,Nuisance Complaint,Public Nuisance,NaN,730 DODDRIDGE ST,B,Public Nuisance Rpt,832,63147.0,NaN,2038657,-1.004426e+07,4.681220e+06,CLOSED,"NST,",13.0

In [8]:
csb.describe(include="all")

,CALLERTYPE,CITY,DATECANCELLED,DATEINVTDONE,DATETIMECLOSED,DATETIMEINIT,DESCRIPTION,EXPLANATION,GRANDPARENT_ID,GRANDPARENT_NODE,GROUP,NEIGHBORHOOD,PARENT_ID,PARENT_NODE,PLAIN_ENGLISH_NAME_FOR_PROBLEMCODE,PRJCOMPLETEDATE,PROBADDRESS,PROBADDTYPE,PROBLEMCODE,PROBLEMSID,PROBZIP,PUBLICRESOLUTION,REQUESTID,SRX,SRY,STATUS,SUBMITTO,WARD
count,14700,14851,1032,10891,10359,14851,14851,5685,14851.000000,14851,14851,14626.000000,14851.000000,14851,14734,14556,14848,14851,14851,14851.000000,9043.000000,10437,1.485100e+04,1.483700e+04,1.483700e+04,14849,14834,14628.000000
unique,11,3,1000,9838,9370,13419,226,43,NaN,8,31,NaN,NaN,46,204,13128,10500,1,226,NaN,NaN,178,NaN,NaN,NaN,13,43,NaN
top,WEB,St. Louis,2026-01-05 08:02:32.0,2026-02-02 12:39:07.26,2026-02-02 12:39:07.26,2026-01-27 11:02:56.0,Snow/Ice - Residnl,"Report derelict, vandalized, inoperable or abandoned veh...",NaN,Citizen Requests,Right of Way Issues,NaN,NaN,Right of Way Repair,Snow/ice on a residential street,2026-01-31 11:02:56.0,5251 CATES AVE,B,Snow/Ice - Residnl,NaN,NaN,work completed,NaN,NaN,NaN,CLOSED,"STREET DIVISION, 514",NaN
freq,6816,14849,4,21,21,21,1709,1334,NaN,6603,3700,NaN,NaN,3036,1709,21,41,14851,1709,NaN,NaN,3032,NaN,NaN,NaN,10359,3260,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1187.269140,NaN,NaN,34.916177,797.534038,NaN,NaN,NaN,NaN,NaN,NaN,840.245438,63116.538538,NaN,2.046170e+06,-1.003937e+07,4.664674e+06,NaN,NaN,7.686492
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,749.068275,NaN,NaN,24.793376,385.035133,NaN,NaN,NaN,NaN,NaN,NaN,497.494950,11.695358,NaN,4.316564e+03,2.735839e+05,1.272141e+05,NaN,NaN,4.123182
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,NaN,NaN,0.000000,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,309.000000,63101.000000,NaN,2.038648e+06,-1.005429e+07,0.000000e+00,NaN,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,NaN,NaN,14.000000,569.000000,NaN,NaN,NaN,NaN,NaN,NaN,373.000000,63109.000000,NaN,2.042410e+06,-1.004927e+07,4.663184e+06,NaN,NaN,4.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1187.000000,NaN,NaN,31.000000,826.000000,NaN,NaN,NaN,NaN,NaN,NaN,700.000000,63113.000000,NaN,2.046158e+06,-1.004669e+07,4.666985e+06,NaN,NaN,8.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1874.000000,NaN,NaN,57.000000,1189.000000,NaN,NaN,NaN,NaN,NaN,NaN,1071.000000,63118.000000,NaN,2.049904e+06,-1.004451e+07,4.672715e+06,NaN,NaN,12.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974.000000,NaN,NaN,88.000000,1976.000000,NaN,NaN,NaN,NaN,NaN,NaN,1973.000000,63147.000000,NaN,2.053630e+06,3.858200e+04,4.687977e+06,NaN,NaN,14.000000

In [9]:
# Nulls per column
nulls = csb.isnull().sum()
nulls[nulls > 0].sort_values(ascending=False)

DATECANCELLED                         13819
EXPLANATION                            9166
PROBZIP                                5808
DATETIMECLOSED                         4492
PUBLICRESOLUTION                       4414
DATEINVTDONE                           3960
PRJCOMPLETEDATE                         295
NEIGHBORHOOD                            225
WARD                                    223
CALLERTYPE                              151
PLAIN_ENGLISH_NAME_FOR_PROBLEMCODE      117
SUBMITTO                                 17
SRX                                      14
SRY                                      14
PROBADDRESS                               3
STATUS                                    2
dtype: int64

---
## 2. Neighborhoods (Shapefile)

In [10]:
shp_files = list((RAW / "neighborhoods").rglob("*.shp"))
neighborhoods = gpd.read_file(shp_files[0])
print(f"{len(neighborhoods)} neighborhoods, CRS: {neighborhoods.crs}")
neighborhoods.head(10)

88 neighborhoods, CRS: PROJCS["NAD_1983_StatePlane_Missouri_East_FIPS_2401_Feet",GEOGCS["NAD83",DATUM["North_American_Datum_1983",SPHEROID["GRS 1980",6378137,298.257222101,AUTHORITY["EPSG","7019"]],AUTHORITY["EPSG","6269"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4269"]],PROJECTION["Transverse_Mercator"],PARAMETER["latitude_of_origin",35.8333333333333],PARAMETER["central_meridian",-90.5],PARAMETER["scale_factor",0.999933333333333],PARAMETER["false_easting",820208.333333333],PARAMETER["false_northing",0],UNIT["US survey foot",0.304800609601219,AUTHORITY["EPSG","9003"]],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102696"]]

   NHD_NUM                NHD_NAME  ANGLE                 NHD_NUMTXT NHD_NUM_ST                                                     geometry
0       43              Franz Park    0.0              43 Franz Park       None  POLYGON ((877657.98 1016328.4, 877790.31 1016251.9, 8778...
1       29                 Tiffany    0.0                 29 Tiffany       None  POLYGON ((895417.85 1016887.24, 894894.99 1014936.82, 89...
2       28       Botanical Heights    0.0       28 Botanical Heights       None  POLYGON ((893871.83 1017297.51, 893519.4 1015938.25, 893...
3       40               Kings Oak    0.0               40 Kings Oak       None  POLYGON ((887474.71 1017871.67, 887462.87 1017765.5, 887...
4       41              Cheltenham    0.0              41 Cheltenham       None  POLYGON ((884617.94 1018220.45, 884356.35 1016548.51, 88...
5       42            Clayton-Tamm    0.0            42 Clayton-Tamm       None  POLYGON ((879840.84 1018804.41, 881121.77 1018637.98, 88...
6       39  Forest Park South East    0.0  39 Forest Park South East       None  POLYGON ((893537.76 1019073.79, 893500.5 1019034.79, 893...
7       44               Hi-Pointe    0.0               44 Hi-Pointe       None  POLYGON ((876047.9 1019260.28, 876198.49 1019246.11, 877...
8       36           Downtown West    0.0           36 Downtown West       None  POLYGON ((907209.89 1020324.13, 907106.05 1019936.63, 90...
9       37                 Midtown    0.0                 37 Midtown       None  POLYGON ((901545.51 1021031.88, 902238.94 1020829.29, 90...

In [ ]:
neighborhoods.dtypes

---
## 3. GTFS Transit

Standard GTFS text files in `raw/gtfs/`.

In [11]:
gtfs_dir = RAW / "gtfs"
gtfs_files = sorted(f.name for f in gtfs_dir.iterdir() if f.suffix == ".txt")
print(f"GTFS files: {gtfs_files}")

GTFS files: ['agency.txt', 'calendar.txt', 'calendar_dates.txt', 'routes.txt', 'shapes.txt', 'stop_times.txt', 'stops.txt', 'trips.txt']

In [12]:
# Stops
stops = pd.read_csv(gtfs_dir / "stops.txt")
print(f"Stops: {len(stops):,}")
stops.head(10)

Stops: 5,113

   stop_id  stop_code                            stop_name                                     stop_desc  wheelchair_boarding   stop_lat   stop_lon
0      127        127                  THEKLA @ EMERSON SB                 NEAR SIDE THEKLA @ EMERSON SB                  2.0  38.694865 -90.245546
1      166        166   WEST FLORISSANT @ BUZZ WESTFALL SB  NEAR SIDE WEST FLORISSANT @ BUZZ WESTFALL SB                  1.0  38.726875 -90.276549
2      172        172     SKINKER @ FOREST PARK PARKWAY SB    NEAR SIDE SKINKER @ FOREST PARK PARKWAY SB                  1.0  38.649624 -90.300736
3      236        236              MERCY HOSPITAL SOUTH NB              FAR SIDE MERCY HOSPITAL SOUTH NB                  2.0  38.507427 -90.382399
4      249        249          CIVIC CENTER TRANSIT CENTER                                           NaN                  1.0  38.625451 -90.202342
5      273        273              STLCC FLORISSANT VALLEY              FAR SIDE STLCC FLORISSANT VALLEY                  1.0  38.771001 -90.287915
6      314        314               175 BOULDER INDUSTRIAL              MID-BLOCK 175 BOULDER INDUSTRIAL                  2.0  38.778046 -90.447131
7      315        315          DEPAUL @ DEPAUL HOSPITAL SB         NEAR SIDE DEPAUL @ DEPAUL HOSPITAL SB                  1.0  38.750125 -90.430820
8      353        353  ATHLETIC WAY @ RIDER TRAIL SOUTH EB  FAR SIDE ATHLETIC WAY @ RIDER TRAIL SOUTH EB                  2.0  38.763010 -90.453785
9      393        393               CATALAN TRANSIT CENTER                                           NaN                  1.0  38.540064 -90.265961

In [13]:
# Routes
routes = pd.read_csv(gtfs_dir / "routes.txt")
print(f"Routes: {len(routes)}")
routes.head(10)

Routes: 62

   agency_id route_id  route_type route_color      route_long_name route_short_name route_text_color
0      70006   19251B           2      333399  MetroLink Blue Line              MLB           f6f6fc
1      70006   19251R           2      CC0033   MetroLink Red Line              MLR           f6f6fc
2      70006    19528           3      FFFFFF                 Gold                1           000000
3      70006    19529           3      FFFFFF                  Red                2           000000
4      70006    19530           3      FFFFFF       Natural Bridge                4           000000
5      70006    19531           3      FFFFFF                Green                5           000000
6      70006    19532           3      FFFFFF        Shaw-Cherokee                8           000000
7      70006    19533           3      FFFFFF             Oakville                9           000000
8      70006    19534           3      FFFFFF      Gravois-Lindell               10           000000
9      70006    19535           3      FFFFFF             Chippewa               11           000000

In [14]:
# Trips
trips = pd.read_csv(gtfs_dir / "trips.txt")
print(f"Trips: {len(trips):,}")
trips.head(10)

Trips: 9,542

   trip_id route_id service_id              trip_headsign  direction_id  block_id  shape_id  wheelchair_accessible
0  3292003   19251R     303-T2   RED LINE TO SHILOH SCOTT             0    606741    115802                      1
1  3292004   19251B     303-T2  BLUE LINE TO EMERSON PARK             0    606742    115798                      1
2  3292005   19251R     303-T2   RED LINE TO SHILOH SCOTT             0    606743    115802                      1
3  3292006   19251R     303-T2   RED LINE TO SHILOH SCOTT             0    606744    115802                      1
4  3292007   19251B     303-T2   BLUE LINE TO FOREST PARK             0    606745    115796                      1
5  3292008   19251R     303-T2   RED LINE TO SHILOH SCOTT             0    606741    115802                      1
6  3292009   19251B     303-T2  BLUE LINE TO EMERSON PARK             0    606745    115798                      1
7  3292010   19251R     303-T2   RED LINE TO SHILOH SCOTT             0    606746    115802                      1
8  3292011   19251R     303-T2   RED LINE TO SHILOH SCOTT             0    606747    115802                      1
9  3292012   19251B     303-T2  BLUE LINE TO EMERSON PARK             0    606742    115798                      1

In [15]:
# Stop times (large  just show shape and sample)
stop_times = pd.read_csv(gtfs_dir / "stop_times.txt")
print(f"Stop times: {len(stop_times):,}")
stop_times.head(10)

Stop times: 487,961

   stop_id  stop_sequence  trip_id arrival_time departure_time  pickup_type  drop_off_type  timepoint  shape_dist_traveled
0    10634              1  3292003     14:16:00       14:16:00            0              0          1             0.000000
1    10633              2  3292003     14:18:00       14:18:00            0              0          1           980.109678
2    10632              3  3292003     14:23:00       14:23:00            0              0          1          5133.658686
3    10631              4  3292003     14:25:00       14:25:00            0              0          1          6338.402970
4    10630              5  3292003     14:27:00       14:27:00            0              0          1          7259.226746
5    10629              6  3292003     14:29:00       14:29:00            0              0          1          9525.576945
6    10628              7  3292003     14:31:00       14:31:00            0              0          1         11376.583734
7    10627              8  3292003     14:33:00       14:33:00            0              0          1         12896.707519
8    10626             18  3292003     14:35:00       14:35:00            0              0          1         14187.509072
9    10625             19  3292003     14:38:00       14:38:00            0              0          1         16787.477815

In [16]:
# Calendar / calendar_dates
for name in ["calendar.txt", "calendar_dates.txt"]:
    path = gtfs_dir / name
    if path.exists():
        df = pd.read_csv(path)
        print(f"\n{name}: {len(df)} rows")
        display(df.head())

calendar.txt: 8 rows

  service_id  start_date  end_date  monday  tuesday  wednesday  thursday  friday  saturday  sunday
0     303-T1    20260219  20260227       1        1          1         1       1         0       0
1     303-T2    20260221  20260228       0        0          0         0       0         1       0
2     313-B1    20260205  20260315       1        1          1         1       1         0       0
3     313-B2    20260205  20260315       0        0          0         0       0         1       0
4     313-B3    20260205  20260315       0        0          0         0       0         0       1

calendar_dates.txt: 0 rows

Empty DataFrame
Columns: [service_id, exception_type, date]
Index: []

---
## 4. USDA Food Access Research Atlas

Excel workbook with multiple sheets.

In [17]:
xlsx_path = RAW / "food-access-research-atlas-data-download-2019.xlsx"
xl = pd.ExcelFile(xlsx_path)
print(f"Sheets: {xl.sheet_names}")

Sheets: ['Read Me', 'Variable Lookup', 'Food Access Research Atlas']

In [18]:
# Main data sheet  filter to St. Louis city (FIPS 29510)
food = pd.read_excel(xlsx_path, sheet_name="Food Access Research Atlas")
print(f"All tracts: {len(food):,}")
print(f"Columns ({len(food.columns)}): {list(food.columns)}")

All tracts: 72,531
Columns (147): ['CensusTract', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010', 'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_1And10', 'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle', 'HUNVFlag', 'LowIncomeTracts', 'PovertyRate', 'MedianFamilyIncome', 'LA1and10', 'LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20', 'LATractsVehicle_20', 'LAPOP1_10', 'LAPOP05_10', 'LAPOP1_20', 'LALOWI1_10', 'LALOWI05_10', 'LALOWI1_20', 'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare', 'lakidshalf', 'lakidshalfshare', 'laseniorshalf', 'laseniorshalfshare', 'lawhitehalf', 'lawhitehalfshare', 'lablackhalf', 'lablackhalfshare', 'laasianhalf', 'laasianhalfshare', 'lanhopihalf', 'lanhopihalfshare', 'laaianhalf', 'laaianhalfshare', 'laomultirhalf', 'laomultirhalfshare', 'lahisphalf', 'lahisphalfshare', 'lahunvhalf', 'lahunvhalfshare', 'lasnaphalf', 'lasnaphalfshare', 'lapop1', 'lapop1share', 'lalowi1', 'lalowi1share', 'lakids1', 'lakids1share', 'laseniors1', 'laseniors1share', 'lawhite1', 'lawhite1share', 'lablack1', 'lablack1share', 'laasian1', 'laasian1share', 'lanhopi1', 'lanhopi1share', 'laaian1', 'laaian1share', 'laomultir1', 'laomultir1share', 'lahisp1', 'lahisp1share', 'lahunv1', 'lahunv1share', 'lasnap1', 'lasnap1share', 'lapop10', 'lapop10share', 'lalowi10', 'lalowi10share', 'lakids10', 'lakids10share', 'laseniors10', 'laseniors10share', 'lawhite10', 'lawhite10share', 'lablack10', 'lablack10share', 'laasian10', 'laasian10share', 'lanhopi10', 'lanhopi10share', 'laaian10', 'laaian10share', 'laomultir10', 'laomultir10share', 'lahisp10', 'lahisp10share', 'lahunv10', 'lahunv10share', 'lasnap10', 'lasnap10share', 'lapop20', 'lapop20share', 'lalowi20', 'lalowi20share', 'lakids20', 'lakids20share', 'laseniors20', 'laseniors20share', 'lawhite20', 'lawhite20share', 'lablack20', 'lablack20share', 'laasian20', 'laasian20share', 'lanhopi20', 'lanhopi20share', 'laaian20', 'laaian20share', 'laomultir20', 'laomultir20share', 'lahisp20', 'lahisp20share', 'lahunv20', 'lahunv20share', 'lasnap20', 'lasnap20share', 'TractLOWI', 'TractKids', 'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI', 'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP']

In [ ]:
# Filter to STL city
food["CensusTract"] = food["CensusTract"].astype(str)
stl_food = food[food["CensusTract"].str.startswith("29510")].copy()
print(f"St. Louis city tracts: {len(stl_food)}")
stl_food.head(10)

In [ ]:
stl_food.describe(include="all")

---
## 5. Census TIGER/Line Tracts (Missouri)

In [19]:
shp_files = list((RAW / "tiger_tracts").rglob("*.shp"))
tracts = gpd.read_file(shp_files[0])
print(f"All Missouri tracts: {len(tracts)}, CRS: {tracts.crs}")

stl_tracts = tracts[tracts["GEOID"].str.startswith("29510")].copy()
print(f"St. Louis city tracts: {len(stl_tracts)}")
stl_tracts.head(10)

All Missouri tracts: 1654, CRS: EPSG:4269
St. Louis city tracts: 104

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
60,29,510,108100,29510108100,1400000US29510108100,1081,Census Tract 1081,G5020,S,3193908,5252,+38.7072726,-090.2383759,"POLYGON ((-90.254 38.71602, -90.25311 38.71714, -90.2527..."
403,29,510,102300,29510102300,1400000US29510102300,1023,Census Tract 1023,G5020,S,1280824,49882,+38.5642278,-090.2834473,"POLYGON ((-90.29702 38.56237, -90.29696 38.56241, -90.29..."
404,29,510,102400,29510102400,1400000US29510102400,1024,Census Tract 1024,G5020,S,584695,0,+38.5771575,-090.2778545,"POLYGON ((-90.28452 38.57405, -90.28448 38.57416, -90.28..."
448,29,510,127700,29510127700,1400000US29510127700,1277,Census Tract 1277,G5020,S,1699588,0,+38.6528534,-090.2286530,"POLYGON ((-90.23843 38.65102, -90.23821 38.65134, -90.23..."
449,29,510,127800,29510127800,1400000US29510127800,1278,Census Tract 1278,G5020,S,2546610,0,+38.6319521,-090.2259200,"POLYGON ((-90.23665 38.62618, -90.23655 38.62649, -90.23..."
450,29,510,103100,29510103100,1400000US29510103100,1031,Census Tract 1031,G5020,S,1191106,35565,+38.5885152,-090.3106306,"POLYGON ((-90.31958 38.59224, -90.31844 38.59218, -90.31..."
451,29,510,103400,29510103400,1400000US29510103400,1034,Census Tract 1034,G5020,S,909286,0,+38.6077397,-090.3015703,"POLYGON ((-90.30752 38.60414, -90.30749 38.6044, -90.307..."
452,29,510,102500,29510102500,1400000US29510102500,1025,Census Tract 1025,G5020,S,954055,0,+38.5719913,-090.2769595,"POLYGON ((-90.28586 38.5694, -90.28572 38.56951, -90.285..."
818,29,510,103700,29510103700,1400000US29510103700,1037,Census Tract 1037,G5020,S,910969,0,+38.6080393,-090.2918864,"POLYGON ((-90.29877 38.60286, -90.29874 38.60291, -90.29..."
819,29,510,103800,29510103800,1400000US29510103800,1038,Census Tract 1038,G5020,S,1639759,35369,+38.5978485,-090.3091337,"POLYGON ((-90.32052 38.59415, -90.3205 38.59418, -90.319..."

In [ ]:
stl_tracts.dtypes

---

## Scratch Space